<%# 登録情報の編集 %>
<div class="img_view"> 
  <%= image_tag "#{photo.image}", alt:"#{photo.id}", id:"img_view_#{photo_counter}" %>
  <div class="image-upload-button">
    <div class="btn edit-delete">削除</div>
  </div>
</div>