.container.mt-5
  %h1.new-shop__header.text-center 新しいカフェの登録 
  %form
    .form-group
      %label.control-label 店名
      %input.form-control{type: "text"}
    .form-group
      %label.control-label 最寄駅
      %input.form-control{type: "text"}
    .form-group
      %label.control-label 住所
      %input.form-control{type: "text"}
    .form-group
      %label.control-label 営業時間
      %input.form-control{type: "text"}
    .form-group
      %label.control-label 定休日
      %input.form-control{type: "text"}
    .form-group
      %label.control-label 席数
      %input.form-control{type: "text"}
        %button.btn.btn-default 送信

