.top.container.my-5
  .shop-search-result.mb-5.p-md-5.p-3
    %h2.text-center.font-weight-bold #{@tag.name}
    %p.text-center の検索結果
    .shop-search-result-number
      %p.text-center #{@shops.length}件表示
      = render partial: 'modules/shops'