$green: #00704a;
$white: #fff;
$red: #ea352d;
$black: #212529;
$score: #e60000;
$like_icon: #e0245e;
$review_icon: #FFAA00;
$link: #ff9600;

// flash関係
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;