.container.mt-5
  .mypage
    .upper-mypage.row
      .upper-mypage__left.col-4
        .upper-mypage__left__avatar
        =image_tag @user.user_image_url, size: "250x250", alt: "アバター", class: "avatar mt-3 img-fluid"

      .upper-mypage__right.col-8
        .upper-mypage__right__username.pt-5
          = @user.name
          = link_to "プロフィールを編集", edit_user_path(current_user), class: "user-edit-button"
        .upper-mypage__right__profile.pt-5
          = @user.profile_description

    %ul.nav.nav-pills.nav-fill
      %li.nav-item
        %a.nav-link.active{href: "#"} 投稿
      %li.nav-item
        %a.nav-link{href: "#"} いいね


