<footer class="footer">  
  <div class="footer__page d-flex justify-content-center pt-2">
    <div class="footer__page__rule pl-4">
      <%= link_to "利用規約", pages_rule_path %>
    </div>
    <div class="footer__page__privacy pl-1">
      <%= link_to "プライバシーポリシー", pages_privacy_path %>
    </div>
  </div>
  
  <div class="footer__logo pb-2">
    © 2020 Cafelog
  </div>
</footer>