.top__contents__shops__reviews
  .row
  - @shops.each do |shop|
    .top__contents__shops__reviews__item
      = link_to shop_path(shop) , class: "link" do
        .top__contents__shops__reviews__item__info
          .top__contents__shops__reviews__item__info__name
            = shop.name
          .top__contents__shops__reviews__item__photo
          - shop.shop_images.each do |shop_image| 
            = image_tag shop_image.image_url, size: "300x300"
      .top__contents__shops__reviews__item__info__station
        = shop.access