.navbar {
  background-color: $green;
}

.navbar-brand {
  color: $white;
}

.nav-item {
  display: flex;
}

img.header-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}