.container.my-5
  .shop-search-result.text-center
    %h2 #{@keyword} 
    %p の検索結果
    - if @shops.present?
      .shop-search-result-number
        %p #{@shops.length}件表示
        = render partial: 'modules/shops'
    - else
      .shop-search-result-description.text-center
        %p 該当するカフェが見つかりません。新たに登録しましょう！
        = link_to "新しいカフェの登録", new_shop_path, class:"new-shop-button mt-3 mb-5"