.shop {
  width: 100%;
  &-data {
      font-size: 24px;
      font-weight: bold;
      &__upper__registered-person {
        font-size: 16px;
        font-weight: normal;
      }
    }
}


.shop-edit-button {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  background: $green;
  color: $white;
}

.shop-review-button {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  background: $green;
  color: $white;
}

.shop-reviews__content {
  display: flex;
  border-bottom: 2px solid #dfdfdf;
}


.shop-reviews__content__main {
&__text {
  word-break: break-all
 } 
}

.tag-name {
  display: inline-block;
  border-radius: 30px;
  background: $green;
  color: $white;
  padding: 1px 9px;
  font-size: 14px;
}

.review-delete-btn {
  display: inline-block;
  font-size: 12px;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  background: $green;
  color: $white;
}

.review-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.like-button {
  color: rgb(224, 36, 94);
}
.like-button:hover {
  color:rgb(101, 119, 134);
  opacity: 0.7;
}

.like-button-yet {
  color: rgb(101, 119, 134);
}

.like-button-yet:hover {
  color: rgb(224, 36, 94);
  opacity: 0.7;
}
