@import "confing/colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixin/page";
@import "modules/footer";
@import "modules/header";
@import "modules/flash";
@import "shops";
@import "users";
@import "devise";
@import "reviews";

.home {
  background-color: #f5f5f5;
  }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $white;
  background-color: $green;
  }
  .nav-link:hover {
    opacity: 0.5;
  }
  
.page-item.active .page-link {
  background-color: $green;
  border-color: $green;
}
.page-link {
  color: $green; 
}
.page-link:hover {
  color: $green; 
}
a, a:hover {
  color: $white;
}
a:hover {
  text-decoration: none; 
} 
li {
  list-style: none;
}

//共通背景
.top-group, .shop-new, .shop-data, .shop-edit, .shop-search-result, .mypage-content, .privacy-content, .rule-content, .devise, .review-content {
  background-color: $white;
}