.devise__header {
  font-weight: bold;
}

.devise__form-group {
  text-align: center;
  margin-bottom: 0.6rem;
}

.devise__form-label {
  padding: 0.6rem 0;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 1.8rem;
}

.devise__form-input{
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ced4da;
  border-radius: 1.8rem;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.user_image__form-input {
  border: none;
}

.devise-button {
  display: inline-block;
  width: 100%;
  padding: 0.4rem 1.25rem;
  background: $green;
  color: $white;
  border-radius: 1.8rem;
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
  }
}

.devise-edit-button {
  display: inline-block;
  width: 150px;
  padding: 7px 20px;
  background: $green;
  color: $white;
  border-radius: 30px;
}

.devise-edit-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.test-login-button {
  color: $white;
  background-color: $green;
  border: none;
  padding: 8px 0;
  &:hover {
    opacity: 0.5; /* リンクの透明度 */
    text-decoration: none; /* 下線消す */
    outline: none
  }
}

.devise-message, .devise-message:hover {
  color: $black;
  margin:0 auto;
}

