//トップページ
.top-image {
  position: relative;
  background-image: image-url("cafelog.jpeg");
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
  opacity: 0.9;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }

  .catchCopy {
    color: $white;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
    
    // 改行しない
    .sp {
      display: none;
    }
  }
}

.search-box {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.search-form {
  height: 64px;
}

input.search-keyword {
  width: 90%;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  &:focus {
  outline: none;
  border: none;
  }
  height: 64px;
  margin-left: 10px;
  vertical-align: top;
  &::placeholder {
    color: #85837a;
    padding-left: 30px;
    font-size: 1rem;
  }
}

.search-button {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  background: $green;
  color: $white;
  height: 64px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  i.fa-search {
    margin: 0 auto;
  }
}


ul.tag-list, ul.access-list {
  display: flex;
  flex-wrap: wrap;
  .tag-item {
    background-color: $green;
    border-radius: 2rem;
    &:hover {
      @include tag-hover;
    }
    &-link {
      font-size: 1rem;
    }
  }
  .access-item {
    background-color: $green;
    border-radius: 2rem;
    padding: 0.65rem 0.65rem;
    min-width: 5rem;
    text-align: center;
    &:hover {
      @include tag-hover;
    }
    &-link {
      font-size: 1rem;
    }
    
  }
}

.shops-content {
  flex-wrap: wrap;
  color: $black;
  &__shop {
    &-image {
      width: 300px;
      height: 300px;
      position: relative;
    }
    &-access {
      color: $black;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $green;
      border-radius: 2rem;
      color: $white;
      padding: 0.65rem 0.65rem;
      min-width: 5rem;
      text-align: center;
    }
    &-name {
      color: $black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      &:hover {
        color: $link;
      }
    }
    &-average {
      color: $score;
      font-size: 1.2rem;
      width: 100%;
      .shops-content__shop-icon-like {
        color: $like_icon;
      }
      .shops-content__shop-icon-review {
        color: $review_icon;
      }
    }
  }
  img.shop-first-image {
    width: 300px;
    height: 300px;
    &:hover {
      @include hover;
    }
  }
}


//カフェ登録
.shop__header {
  font-weight: bold;
}

.shop-form {
  text-align: center;
  .shop-form__form-group {
    margin-bottom: 0.6rem;
  }
  .shop__form-label {
    padding: 0.6rem 0;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 1.8rem;
  }
  .required {
    padding: 0.1em 0.5em;
    margin-left: 10px;
    font-size: 14px;
    color: $white;
    background: $red;
    border-radius: 4px;
  }
  .shop__form-input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ced4da;
    border-radius: 1.8rem;
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  .shop-button {
    @include shop-button;
  }  
}

.review-form {
  text-align: center;
  .review-form__form-group {
    margin-bottom: 10px;
  } 
  .review__form-input {
    width: 80%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 30px;
  } 
  .shop-button {
    @include shop-button;
  }
}

.new-shop-button {
  display: inline-block;
  padding: 7px 20px;
  background: $green;
  color: $white;
  border-radius: 30px;
}

.uploader {
  width:600px;
  height: 180px;
  flex: 1;
  position: relative;
  min-height: 116px;
  background: #f5f5f5;
  border: 1px dashed #cccccc;
  transition: box-shadow ease-out .3s;
  cursor: pointer;
  margin-top: 10px ;
  display: none;
  pre {
    padding: 0 auto;
    font-size: 15px;
  }
}

.image-box {
  display: none;
}

#image-label-0 {
  display: block;
}

#preview {
  display: flex;
  margin-right: 10px;
}

.img_view {
  width: 180px;
  margin: 10px 0 10px 10px;
  height: 180px;
  background-color: #f5f5f5;
  img {
    display: block;
    max-width: 180px;
    height: 150px;
    margin: 0 auto;
  }
}

.image-upload-button {
  display: flex;
  .btn {
    width: 100%;
    background: #f5f5f5;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #0099e8;
    font-size: 14px;
  }
}

.image-upload {
  display: flex;
  text-align: center;
  height: 180px;
  width: 100%;
}

// 画像プレビュー
.hidden-content {
  display: none;
}


//カフェ詳細
.shop-data {
  &__upper {
    font-size: 1.5rem;
    &__average {
      &-rate {
        color: $score;
      }
    }
    &__shop-icon {
      &-like {
      color: $like_icon;
     }
      &-review {
        color: $review_icon;
      }
    }
    &__registered-person {
      font-size: 1rem;
    }
  }

  .table {
    max-width: 500px;
    width: 100%;
    th {
      white-space: nowrap; //項目改行しない
    }
  }

  img.otherImage {
    cursor: pointer;
    &:hover {
      @include hover;
    } 
  }

}

.shop-edit-button {
  @include edit-button;
}

//タグ
.tag-name {
  display: inline-block;
  border-radius: 30px;
  background: $green;
  color: $white;
  padding: 1px 9px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  &:hover {
    @include tag-hover;
  }
  &-button {
    color: $white;
  }
}

//お気に入り
.like-button {
  color: rgb(224, 36, 94);
  &:hover {
    color: rgb(224, 36, 94);
    @include hover;
  }
}

.like-button-yet {
  color: rgb(101, 119, 134);
  &:hover {
    color: rgb(224, 36, 94);
    @include hover;
  }
}


//レビュー
.shop-reviews__content {
  border: 2px solid #f5f5f5;
  border-radius: 10px;
  &__user {
    display: flex;
    &-name{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1rem;
      display: flex;
    }
  }
  &__main {
    word-break: break-all
    }
}

img.review-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.shop-review-button {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  background: $green;
  color: $white;
  &:hover {
    @include button;
  }
}

.review-delete-btn {
  display: inline-block;
  font-size: 0.7rem;
  padding: 7px 12px;
  border-radius: 30px;
  background: $green;
  color: $white;
}

//レスポンシブ
@include sp {
  @include catchCopy;
  @include top-group;
  
  .search-box {
    width: 90%;
  }
  img.mainImage {
    width: 100%;
    height: 185px;
  }
  img.otherImage {
    width: 83px;
    height: 69px;
  } 
  .table th {
    padding-left: 0;
  }
}

@include sm {
  @include catchCopy;
  @include top-group;
  
  .shop-data-group {
    max-width: 440px;
    margin: 0 auto;
  }
  img.mainImage {
    width: 100%;
  }
  img.otherImage {
    width: 121px;
    height: 99px;
  } 
  .table th {
    padding-left: 0;
  }
}

@include md {
  .top-image {
    .catchCopy {
      font-size: 2rem;
    }
  }

  @include top-group;

  
  .shop-data-group {
    max-width: 440px;
    margin: 0 auto;
  }
  img.mainImage {
    width: 100%;
  }
  img.otherImage {
    width: 132px;
    height: 108px;
  } 
  .table th {
    padding-left: 0;
  }
}

@include lg {
  .shops-content {
    img.shop-first-image {
      width: 300px;
      height: 300px;
    }
  }

  .shop-data-group {
    max-width: 500px;
    margin: 0 auto;
  }
  img.mainImage {
    width: 100%;
  }
  img.otherImage {
    width: 150px;
    height: 123px;
  } 
  .table th {
    padding-left: 0;
  }
}

@include xl {
  .shops-content {
    &__shop {
      &-image {
        width: 258px;
        height: 258px;
        position: relative;
      }
    }
    img.shop-first-image {
      width: 258px;
      height: 258px;
    }
  }

  img.mainImage {
    width: 400px;
    height: 330px;
  }
  img.otherImage {
    width: 165px;
    height: 165px;
  }
}