.mypage {
  @include main-padding;
}

.upper-mypage {
  width: 80%;
  margin: 0 auto;
    &__right__username {
      font-size: 1.7rem;
      padding-top: 48px;
    }
    &__right__profile {
      padding-top: 48px;
    }
    &__left__avatar {
      overflow: hidden;
      width: 250px;
      height: 250px;
      border: #fff 5px solid;
      border-radius: 50%;
      object-fit: cover;
    }
}

img.avatar {
  display: block;
  width: 100%;
  height: auto;
}

.mypage-tab {
  color: $black;
}

@include xl {
  .upper-mypage {
    &__left__avatar {
      overflow: hidden;
      width: 220px;
      height: 220px;
      border: #fff 5px solid;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@include lg {
  .upper-mypage {
    &__left {
      display: flex;
      justify-content: center;
      &__avatar {
        overflow: hidden;
        width: 180px;
        height: 180px;
        border: #fff 5px solid;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__right {
      display: flex;
      justify-content: center;
      &__username {
        padding: 0 0 10px 0;
      }
      &__profile {
        display: none;
      }
    }
  }
 }


 //ユーザーのレビュー
 .user-shop-review__wrapper {
   border-bottom: 2px solid #dfdfdf;
 }
 .shop-name {
   color: $black;
   &:hover {
    color: $black;
    opacity: 0.9;
  }
 }