.upper-mypage {
  width: 80%;
  margin: 0 auto;
    &__right__username {
      font-size: 1.7rem;
      padding-top: 48px;
    }
    &__right__profile {
      padding-top: 48px;
    }
}

.user-edit-button {
  @include edit-button
}

img.user-avatar {
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: #fff 5px solid;
  border-radius: 50%;
  object-fit: cover;
}

.tabs {
  display: flex;
  justify-content: space-between;
  li {
    width: 32%; 
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    a:hover:not(.active) {
      @include link
    }
    a.active {
      background-color: $green;
    }
    a:not(.active) {
      color: $black;
    }
  }
}

.mypage-contents {
  li.active {
    display: block;
  }
  li {
  display: none;
  }
}


//お気に入り
.user-top-contents {
  flex-wrap: wrap;
  color: $black;
  &__shop {
    &-image {
      width: 300px;
      height: 300px;
      position: relative;
    }
    &-access {
      color: $black;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $green;
      border-radius: 2rem;
      color: $white;
      padding: 0.65rem 0.65rem;
      min-width: 5rem;
      text-align: center;
    }
    &-name {
      color: $black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      &:hover {
        color: $link;
      }
    }
    &-average {
      color: $score;
      font-size: 1.2rem;
      width: 100%;
    }
  }
}

.user-shop-first-image {
  height: 300px;
  width: 300px;
}

// ユーザーレビュー
.user-shop-review {
  &__wrapper {
    &__image {
      width: 300px;
      height: 300px;
      position: relative;
    }
    &__shop-access {
      color: $black;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $green;
      border-radius: 2rem;
      color: $white;
      padding: 0.65rem 0.65rem;
      min-width: 5rem;
      text-align: center;
    }
  }
}


@include sp {
  @include upper-mypage;
  @include user-like;

  img.user-avatar {
    width: 150px;
    height: 150px;
  }
  .tabs {
    font-size: 0.8rem;
  }
}

@include sm {
  @include upper-mypage;
  @include user-like;
}

@include md {
  @include upper-mypage;
  @include user-like;
}

@include lg {
  @include upper-mypage;
 }

 @include xl {
  .user-top-contents {
    &__shop {
      &-image {
        width: 258px;
        height: 258px;
        position: relative;
      }
    }
    img.user-shop-first-image {
      height: 258px;
      width: 258px;
    }
  }
  img.user-avatar {
    width: 220px;
    height: 220px;
  }
}