.upper-mypage {
  width: 80%;
  margin: 0 auto;
    &__right__username {
      font-size: 1.7rem;
      padding-top: 48px;
    }
    &__right__profile {
      padding-top: 48px;
    }
    &__left__avatar {
      overflow: hidden;
      width: 250px;
      height: 250px;
      border: #fff 5px solid;
      border-radius: 50%;
      object-fit: cover;
    }
}

.user-edit-button {
  @include edit-button
}

img.avatar {
  display: block;
  width: 100%;
  height: auto;
}

.tabs {
  display: flex;
  justify-content: space-between;
  li {
    width: 32%; 
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
    a:hover:not(.active) {
      @include link
    }
    a.active {
      background-color: $green;
    }
    a:not(.active) {
      color: $black;
    }
  }
}

.mypage-contents {
  li.active {
    display: block;
  }
  li {
  // padding: 20px;
  display: none;
  }
}


//お気に入り
.user-top-contents {
  flex-wrap: wrap;
  color: $black;

  &__shop {
    &-image {
      position: relative;
      width: 100%;
    }
    &-access {
      color: $black;
      position: absolute;
      left: 1rem;
      top: 3rem;
      background-color: $green;
      border-radius: 2rem;
      color: $white;
      padding: 0.65rem 0.65rem;
      min-width: 5rem;
      text-align: center;
    }
    &-name {
      color: $black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0 0.5rem;
    }
    &-average {
      color: $score;
      font-size: 1.2rem;
      margin: 0 0.5rem;
    }
  }
}

.user-shop-first-image {
  height: 300px;
  width: 300px;
}


@include xl {
  .upper-mypage {
    &__left__avatar {
      overflow: hidden;
      width: 220px;
      height: 220px;
      border: #fff 5px solid;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .user-top-contents-name {
    margin: 0;
  }
}

@include lg {
  .upper-mypage {
    &__left {
      display: flex;
      justify-content: center;
      &__avatar {
        overflow: hidden;
        width: 180px;
        height: 180px;
        border: #fff 5px solid;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &__right {
      display: flex;
      justify-content: center;
      &__username {
        padding: 0 0 10px 0;
      }
      &__profile {
        display: none;
      }
    }
  }
 }
 @include md {
  .user-top-contents__shop-access {
    left: 10%;
   }
  .user-top-contents__shop-name {
    margin: 0 3.5rem;
  }
  .user-top-contents__shop-average {
    margin: 0 3.5rem;
  }

  .user-shop-first-image {
    height: 200px;
    width: 200px;
  }
}

@include sm {
  .user-top-contents__shop-name {
    margin: 0 2.3rem;
  }
  .user-top-contents__shop-average {
    margin: 0 2.3rem;
  }
}


 //ユーザーのレビュー
 .user-shop-review__wrapper {
   border-bottom: 2px solid #dfdfdf;
   &__content__shop-average {
    color: $score;
    font-size: 1.2rem;
  }
 }
 
 .shop-name {
   color: $black;
   &:hover {
    color: $black;
    @include link
  }
 }