.mypage {
  @include main-padding;
}

.upper-mypage {
  width: 80%;
  margin: 0 auto;
}

.user-edit-button {
  display: inline-block;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px; 
  background: $green;
  color: $white;
}

img.avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.mypage-tab {
  color: $black;
}