@mixin sp { 
  @media screen and (max-width: 375px) { 
    @content; 
  } 
}

@mixin sm { 
  @media screen and (min-width: 376px) and (max-width: 576px) { 
    @content; 
  } 
}
@mixin md { 
  @media screen and (min-width: 577px) and (max-width: 768px) { 
    @content; 
  } 
}
@mixin lg { 
  @media screen and (min-width: 769px) and (max-width: 992px) { 
    @content; 
  } 
}
@mixin xl { 
  @media screen and (min-width: 993px) and (max-width: 1200px) { 
    @content; 
  } 
}

@mixin catchCopy {
  .top-image {
    .catchCopy {
      font-size: 2rem;
      // 改行
      .sp { 
        display: block;
      }
    }
  }
}

@mixin top-group {
  .top-title > h3 {
    text-align: center;
  }
  ul.access-list, ul.tag-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shops-content__shop-image {
    margin: 0 auto;
  }
}

@mixin shop-button {
  display: inline-block;
  width: 100%;
  padding: 7px 20px;
  background: $green;
  color: $white;
  border-radius: 30px;
  :focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  &:hover {
    @include button 
  }
}

@mixin edit-button {
  display: inline-block;
  font-size: 1rem;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 30px;
  background: $green;
  color: $white;
  &:hover {
    @include button
  }
}

@mixin link {
  opacity: 0.5; 
  transition: 0.3s;
}

@mixin button {
  opacity: 0.8; 
  transition: 0.3s;
}

@mixin image {
  opacity: 0.7;
  transition: 0.3s;
}

@mixin upper-mypage {
  .upper-mypage {
    text-align: center;
  }
}

@mixin user-like {
  .user-shops-content__shop-image {
    margin: 0 auto;
  }
}





